doctype html
html.no-js(lang='en-US')
  head
    title #{title}
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    link(href='//fonts.googleapis.com/', rel='dns-prefetch')
    link#genericons-css(rel='stylesheet', href='/contrib/css/genericons/genericons.css')
    link#wm-google-fonts-css(href='//fonts.googleapis.com/css?family=Playfair+Display%7CDroid+Serif&subset&ver=2.2.0', rel='stylesheet')
    link#wm-main-css(href='/contrib/css/main.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
    link#wm-stylesheet-css(href='/contrib/css/style.css', rel='stylesheet')
    script(src='/contrib/js/jquery/jquery.js', type='text/javascript')
  body#top.has-post-thumbnail.home.is-singular.page.page-id-4.page-template.page-template-_fullwidth.page-template-page-template.page-template-page-template_fullwidth-php
    #page.hfeed.site
      header#masthead.site-header(itemscope='', itemtype='https://schema.org/WPHeader', role='banner')
        .site-header-inner
          .site-branding
            h1#site-title.site-title.logo.type-text
              span.text-logo Nadia's Garden
          nav#site-navigation.main-navigation(aria-labelledby='site-navigation-label', itemscope='', itemtype='https://schema.org/SiteNavigationElement', role='navigation')
            h2#site-navigation-label.screen-reader-text Primary Menu
            #main-navigation-inner.main-navigation-inner
              .menu
                ul
                  li#menu-item-75.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-75
                    a(href='/') Home
                  li#menu-item-76.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-76
                    a(href='/reservations') Reservations
        button#menu-toggle.menu-toggle(aria-controls='site-navigation', aria-expanded='false') Menu
    #site-banner.site-banner.no-slider
      aside.site-banner-inner
        h2.screen-reader-text Site banner
        .site-banner-content
          .site-banner-media
            figure.site-banner-thumbnail
              img(alt='', height='686', src='/images/header.jpg', width='1640')
          .site-banner-header
            h3.entry-title.site-banner-title
              span.highlight
    .front-page-widgets-wrapper.clearfix
      #front-page-widgets.front-page-widgets
        aside#front-page-widgets-container.widget-area.front-page-widgets-container(aria-labelledby='sidebar-front-page-label', role='complementary')
          h2#sidebar-front-page-label.screen-reader-text Front page sidebar
          #widget_contact_info-3.widget.widget_contact_info
            h3.widget-title Hours & Info
            .confit-address
              a(href='https://maps.google.com/maps?z=16&q=6410+via+real+carpinteria,+ca+93013', target='_blank')
                | 6410 Via Real
                br
                | 						Carpinteria, CA 93013
            .confit-phone
              | 1-123-456-7890
            .confit-hours
              | Lunch: 11am - 2pm
              br
              |  Dinner: M-Th 5pm - 11pm, Fri-Sat:5pm - 1am
          #text-3.widget.widget_text
            .textwidget
              | Nadia’s Garden Restaurant isn’t just about dining. We’re about creating memorable experiences that our guest will cherish! Our family friendly restaurant has indoor, outdoor, and intimate dining options for any occasion. Our outdoor garden area is perfect for a stroll before or after your meal. We invite you to come dine with us!
    #content.site-content
      #primary.content-area
        section.food-menu-items.page-section
          header.page-header
            h2.page-title
              a Menu
          .items.items-list.clearfix(itemscope='', itemtype='https://schema.org/ItemList')
            section.menu-items
              header#starters-28.menu-group-header
                h3.menu-group-title
                  a(href='menu/starters/index.html') Starters
              aside#post-13.post-13.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-eggs.nova_menu_item_label-nuts.nova_menu-starters.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Parmesan Deviled Eggs from Madia's Garden Restaurant", height='426', src='/images/Parmesan-deviled-eggs_463104801-800x426.jpg', width='800')
                      meta(content='/images/Parmesan-deviled-eggs_463104801-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Parmesan Deviled Eggs
                      span.food-menu-item-price $8
                .entry-content(itemprop='description')
                  p.entry-summary Some say our eggs are devilishly good. I have to agree.
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:24:33+00:00', itemprop='datePublished', title='August 9, 2015 | 12:24 pm') 9 Aug 2015
                  meta(content='2015-08-09T14:08:36+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-15.post-15.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-garlic.nova_menu-starters.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Artichokes with Garlic Aiol from Nadia's Garden Restaurant", height='426', src='/images/Artichokes-with-Garlic-Aioli_492497149-800x426.jpg', width='800')
                      meta(content='/images/Artichokes-with-Garlic-Aioli_492497149-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Artichokes with Garlic Aioli
                      span.food-menu-item-price $9
                .entry-content(itemprop='description')
                  p.entry-summary Our artichokes are brushed with an olive oil and rosemary blend and…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:28:54+00:00', itemprop='datePublished', title='August 9, 2015 | 12:28 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:28:54+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-17.post-17.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-soup.nova_menu-starters.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="French Onion Soup from Nadia's Garden Restaurant", height='426', src='/images/French-Onion-Soup-177272289-800x426.jpg', width='800')
                      meta(content='/images/French-Onion-Soup-177272289-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title French Onion Soup
                      span.food-menu-item-price $7
                .entry-content(itemprop='description')
                  p.entry-summary Caramelized onions slow cooked in a savory broth, topped with sourdough and…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:30:23+00:00', itemprop='datePublished', title='August 9, 2015 | 12:30 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:30:23+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
                  span.comments-link.entry-meta-element
                    span.entry-meta-description Comments:
                    a(href='##respond', title='Comments: 0')
                      span.comments-title Comments:
                      span.comments-count 0
              aside#post-21.post-21.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-starters.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Mini Cheeseburgers from Nadia's Garden Restaurant", height='426', src='/images/Mini-Cheeseburgers-492624907-800x426.jpg', width='800')
                      meta(content='/images/Mini-Cheeseburgers-492624907-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Mini Cheeseburgers
                      span.food-menu-item-price $8
                .entry-content(itemprop='description')
                  p.entry-summary These mini cheeseburgers are served on a fresh baked pretzel bun with…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:30:52+00:00', itemprop='datePublished', title='August 9, 2015 | 12:30 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:45:32+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-22.post-22.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-mushroom.nova_menu-starters.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Stuffed Mushrooms from Nadia's Garden Restaurant", height='426', src='/images/Stuffed-Mushrooms-466004034-800x426.jpg', width='800')
                      meta(content='/images/Stuffed-Mushrooms-466004034-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Panko Stuffed Mushrooms
                      span.food-menu-item-price $7
                .entry-content(itemprop='description')
                  p.entry-summary Large mushroom caps are filled a savory cream cheese, bacon and panko…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:31:31+00:00', itemprop='datePublished', title='August 9, 2015 | 12:31 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:31:31+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
            section.menu-items
              header#salads-18.menu-group-header
                h3.menu-group-title
                  a(href='menu/salads/index.html') Salads
              aside#post-23.post-23.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-organic.nova_menu-salads.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Garden Buffet from Nadia's Garden Restaurant", height='426', src='/images/Garden-Buffet-477585032-800x426.jpg', width='800')
                      meta(content='/images/Garden-Buffet-477585032-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Garden Buffet
                      span.food-menu-item-price $10
                .entry-content(itemprop='description')
                  p.entry-summary Choose from our fresh local, organically grown ingredients to make a custom…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:32:53+00:00', itemprop='datePublished', title='August 9, 2015 | 12:32 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:33:05+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-28.post-28.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-salads.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="House Salad from Nadia's Garden Restaurant", height='426', src='/images/House-Salad-464653727-800x426.jpg', width='800')
                      meta(content='/images/House-Salad-464653727-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title House Salad
                      span.food-menu-item-price $7
                .entry-content(itemprop='description')
                  p.entry-summary Our house salad is made with romaine lettuce and spinach, topped with…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:33:40+00:00', itemprop='datePublished', title='August 9, 2015 | 12:33 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:33:40+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-29.post-29.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-salads.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Chef Salad from Nadia's Garden Restaurant", height='426', src='/images/Chef-Salad-178415704-800x426.jpg', width='800')
                      meta(content='/images/Chef-Salad-178415704-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Chef’s Salad
                      span.food-menu-item-price $9
                .entry-content(itemprop='description')
                  p.entry-summary
                    | The chef’s salad has cucumber, tomatoes, red onions, mushrooms, hard-boiled eggs, cheese,…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:34:10+00:00', itemprop='datePublished', title='August 9, 2015 | 12:34 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:34:10+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-30.post-30.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-quinoa.nova_menu-salads.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Quinoa Salad from Nadia's Garden Restaurant", height='426', src='/images/Quinoa-Salad-455264057-800x426.jpg', width='800')
                      meta(content='/images/Quinoa-Salad-455264057-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Quinoa Salmon Salad
                      span.food-menu-item-price $12
                .entry-content(itemprop='description')
                  p.entry-summary
                    | Our quinoa salad is served with quinoa, tomatoes, cucumber, scallions, and smoked…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:34:48+00:00', itemprop='datePublished', title='August 9, 2015 | 12:34 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:34:48+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
            section.menu-items
              header#entree-83.menu-group-header
                h3.menu-group-title
                  a(href='menu/entree/index.html') Entrée
              aside#post-31.post-31.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-vegetarian-option.nova_menu-entree.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Classic Burger from Nadia's Garden Restaurant", height='426', src='/images/Classic-Burger-508441287-800x426.jpg', width='800')
                      meta(content='/images/Classic-Burger-508441287-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Classic Burger
                      span.food-menu-item-price $10
                .entry-content(itemprop='description')
                  p.entry-summary Our classic burger is made with 100% pure angus beef, served with…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:36:29+00:00', itemprop='datePublished', title='August 9, 2015 | 12:36 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:36:29+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-37.post-37.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-vegetarian-option.nova_menu-entree.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Bruschetta Tortellini from Nadia's Garden Restaurant", height='426', src='/images/Bruschetta-Tortellini-57576141-800x426.jpg', width='800')
                      meta(content='/images/Bruschetta-Tortellini-57576141-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Tomato Bruschetta Tortellini
                      span.food-menu-item-price $14
                .entry-content(itemprop='description')
                  p.entry-summary This classic cheese tortellini is cooked in a sundried tomato sauce. Served…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:37:08+00:00', itemprop='datePublished', title='August 9, 2015 | 12:37 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:37:08+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-38.post-38.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-vegetarian-option.nova_menu-entree.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Handcrafted Pizza from Nadia's Garden Restaurant", height='426', src='/images/Handcrafted-Pizza-480957521-800x426.jpg', width='800')
                      meta(content='/images/Handcrafted-Pizza-480957521-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Handcrafted Pizza
                      span.food-menu-item-price $10
                .entry-content(itemprop='description')
                  p.entry-summary Our thin crust pizzas are made fresh daily and topped with your…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:37:44+00:00', itemprop='datePublished', title='August 9, 2015 | 12:37 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:37:44+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-39.post-39.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu_item_label-vegetarian-option.nova_menu-entree.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="BBQ Tofu Skewers from Nadia's Garden Restaurant", height='426', src='/images/BBQ-Tofu-Skewers-184219445-800x426.jpg', width='800')
                      meta(content='/images/BBQ-Tofu-Skewers-184219445-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Barbecued Tofu Skewers
                      span.food-menu-item-price $10
                .entry-content(itemprop='description')
                  p.entry-summary
                    | Our barbecued skewers include tofu, cherry tomatoes, bell peppers, and zucchini marinated…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:38:21+00:00', itemprop='datePublished', title='August 9, 2015 | 12:38 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:38:21+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-40.post-40.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-entree.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Fiesta Platter from Nadia's Garden Restaurant", height='426', src='/images/Fiesta-Platter-86518097-631x426.jpg', width='631')
                      meta(content='/images/Fiesta-Platter-86518097-631x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Fiesta Family Platter
                      span.food-menu-item-price $16
                .entry-content(itemprop='description')
                  p.entry-summary This platter is perfect for sharing! Enjoy our spicy buffalo wings, traditional…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:39:00+00:00', itemprop='datePublished', title='August 9, 2015 | 12:39 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:39:00+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
            section.menu-items
              header#desserts-56.menu-group-header
                h3.menu-group-title
                  a(href='menu/desserts/index.html') Desserts
              aside#post-41.post-41.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-desserts.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Crème Brûlée from Nadia's Garden Restaurant", height='426', src='/images/Creme-Brulee-163915034-569x426.jpg', width='569')
                      meta(content='/images/Creme-Brulee-163915034-569x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Crème Brûlée
                      span.food-menu-item-price $9
                .entry-content(itemprop='description')
                  p.entry-summary
                    | Elegantly crafted creamy vanilla custard with a caramelized crunchy layer on top.…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:40:47+00:00', itemprop='datePublished', title='August 9, 2015 | 12:40 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:40:47+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-47.post-47.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-desserts.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Cheesecake from Nadia's Garden Restaurant", height='426', src='/images/Cheesecake-466968669-689x426.jpg', width='689')
                      meta(content='/images/Cheesecake-466968669-689x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Cheesecake
                      span.food-menu-item-price $9
                .entry-content(itemprop='description')
                  p.entry-summary Our New York Style Cheesecake is rich, smooth, and creamy. Available in…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:41:14+00:00', itemprop='datePublished', title='August 9, 2015 | 12:41 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:41:14+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-48.post-48.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-desserts.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Chocolate Chip Brownie from Nadia's Garden Restaurant", height='426', src='/images/Chocolate-Chip-Brownie-151529499-564x426.jpg', width='564')
                      meta(content='/images/Chocolate-Chip-Brownie-151529499-564x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Chocolate Chip Brownie
                      span.food-menu-item-price $6
                .entry-content(itemprop='description')
                  p.entry-summary A warm chocolate chip brownie served with chocolate or vanilla ice cream…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:41:46+00:00', itemprop='datePublished', title='August 9, 2015 | 12:41 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:41:46+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-49.post-49.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-desserts.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Apple Pie from Nadia's Garden Restaurant", height='426', src='/images/Apple-Pie-450739739-800x426.jpg', width='800')
                      meta(content='/images/Apple-Pie-450739739-800x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Apple Pie
                      span.food-menu-item-price $5
                .entry-content(itemprop='description')
                  p.entry-summary Made with local granny smith apples to bring you the freshest classic…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:42:13+00:00', itemprop='datePublished', title='August 9, 2015 | 12:42 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:42:13+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-50.post-50.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-desserts.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Mixed Berry Tart from Nadia's Garden Restaurant", height='426', src='/images/Mixed-Berry-Tart-470691309-577x426.jpg', width='577')
                      meta(content='/images/Mixed-Berry-Tart-470691309-577x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Mixed Berry Tart
                      span.food-menu-item-price $7
                .entry-content(itemprop='description')
                  p.entry-summary Raspberries, blueberries, and strawberries on top of a creamy filling served in…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:42:37+00:00', itemprop='datePublished', title='August 9, 2015 | 12:42 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:42:37+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
            section.menu-items
              header#drinks-73.menu-group-header
                h3.menu-group-title
                  a(href='menu/drinks/index.html') Drinks
              aside#post-51.post-51.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-drinks.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Tropical Blue Smoothie from Nadia's Garden Restaurant", height='426', src='/images/Tropical-Blue-Smoothie-490452193-597x426.jpg', width='597')
                      meta(content='/images/Tropical-Blue-Smoothie-490452193-597x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Tropical Blue Smoothie
                      span.food-menu-item-price $6
                .entry-content(itemprop='description')
                  p.entry-summary
                    | This blueberry mint-based smoothie is refreshing and perfect for any celebration.
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:44:03+00:00', itemprop='datePublished', title='August 9, 2015 | 12:44 pm') 9 Aug 2015
                  meta(content='2017-05-18T16:44:50+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-55.post-55.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-drinks.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Pomegranate Iced Tea from Nadia's Garden Restaurant", height='426', src='/images/Pomegranate-Iced-Tea-182314219-533x426.jpg', width='533')
                      meta(content='/images/Pomegranate-Iced-Tea-182314219-533x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Pomegranate Iced Tea
                      span.food-menu-item-price $4
                .entry-content(itemprop='description')
                  p.entry-summary Our unique blend of pomegranate juice, black Rubio, and mint tea creates…
                footer.entry-meta
                  span.entry-date.entry-meta-element
                    span.entry-meta-description Posted on:
                    a(rel='bookmark')
                      time.published(datetime='2015-08-09T12:44:40+00:00', itemprop='datePublished', title='August 9, 2015 | 12:44 pm') 9 Aug 2015
                  meta(content='2015-08-09T12:44:40+00:00', itemprop='dateModified')
                  span.byline.author.vcard.entry-meta-element(itemprop='author', itemscope='', itemtype='https://schema.org/Person')
                    span.entry-meta-description Written by:
                    a.url.fn.n(href='author/morten/index.html', itemprop='name', rel='author') morten
              aside#post-56.post-56.nova_menu_item.type-nova_menu_item.status-publish.has-post-thumbnail.hentry.nova_menu-drinks.entry(itemscope='', itemtype='https://schema.org/WebPage')
                meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
                .entry-media
                  figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                    a
                      img.attachment-auberge_banner_small.size-auberge_banner_small.wp-post-image(alt="Cafe Late from Nadia's Garden Restaurant", height='426', src='/images/Cafe-Late-151627053-600x426.jpg', width='600')
                      meta(content='/images/Cafe-Late-151627053-600x426.jpg', itemprop='url')
                      meta(content='true', itemprop='width')
                      meta(content='true', itemprop='height')
                header.entry-header.food-menu-item-header
                  h4.entry-title(itemprop='headline')
                    a
                      span.food-menu-item-title Café Latte
                      span.food-menu-item-price $6
                .entry-content(itemprop='description')
                  p.entry-summary Our house blend of espresso and foamed milk. Can be served with…
        main#main.site-main.clearfix(itemprop='mainContentOfPage', role='main')
          article#post-4.post-4.page.type-page.status-publish.has-post-thumbnail.hentry.entry(itemscope='', itemtype='https://schema.org/WebPage', role='article')
            meta(itemprop='mainEntityOfPage', itemscope='', itemtype='https://schema.org/WebPage')
            .entry-media
              figure.post-thumbnail(itemprop='image', itemscope='', itemtype='https://schema.org/ImageObject')
                a(href='index.html')
                  img.attachment-large.size-large.wp-post-image(alt='', height='680', sizes='(max-width: 1020px) 100vw, 1020px', src='/images/Interior-1784077521-1020x680.jpg', srcset='/images/Interior-1784077521-1020x680.jpg 1020w, wp-content/uploads/2015/08/Interior-1784077521-632x421.jpg 632w', width='1020')
                  meta(content='/images/Interior-1784077521-1020x680.jpg', itemprop='url')
                  meta(content='true', itemprop='width')
                  meta(content='true', itemprop='height')
            header.entry-header
              h1.entry-title(itemprop='headline') About Us
            .entry-content(itemprop='description')
              p
                | Nadia’s Garden Restaurant is the creation of husband and wife team Nadia and Timothy Arbore. Their American-infused, Italian-based, organically created, cuisine was inspired by Nadia’s papa, an immigrant from Italy, who shared his love of cooking with Nadia as a young girl. His focus on using fresh ingredients and family style dining were the inspiration for Nadia’s Garden Restaurant. Located in the heart of Main Street’s Historic District, they are proud to be a part of a rich community.
              figure#attachment_5.wp-caption.alignright(style='width: 200px')
                img.size-medium.wp-image-5(alt="Chef Nadia Arbore of Nadia's Garden Restaurant", height='300', sizes='(max-width: 200px) 100vw, 200px', src='/images/Nadia-Arbore-78430246-200x300.jpg', srcset='/images/Nadia-Arbore-78430246-200x300.jpg 200w, wp-content/uploads/2015/08/Nadia-Arbore-78430246.jpg 399w', width='200')
                figcaption.wp-caption-text
                  | Chef Nadia Arbore of Nadia’s Garden Restaurant
              p
                | In 2011, the duo remodeled the restaurant and updated their menu to include newer and more diverse entrées that could be made from local organic suppliers. Preservation of the building’s original layout has allowed them to create intimate settings with smaller, more intimate, dining spaces. Nadia and Timothy are committed to sharing their family history of cuisine, along with their new inspirations, with their customers. Their passion for community, entertainment, and hospitality are found in in every aspect of Nadia’s Garden Restaurant.
        // /#main
      // /#primary
    // /#content
    footer#colophon.site-footer(itemscope='', itemtype='https://schema.org/WPFooter')
      .site-footer-area.footer-area-footer-widgets
        #footer-widgets.footer-widgets.clearfix
          aside#footer-widgets-container.widget-area.footer-widgets-container(aria-labelledby='sidebar-footer-label', role='complementary')
            h2#sidebar-footer-label.screen-reader-text Footer sidebar
            #media_image-3.widget.widget_media_image
              figure.wp-caption.alignnone(style='width: 600px')
                img.image.wp-image-68.alignnone.attachment-full.size-full(alt="Nadia's Garden Restaurant in Carpinteria, California", height='428', src='/images/Exterior-178856892.jpg', style='max-width: 100%; height: auto;', width='600')
                figcaption.wp-caption-text
                  | Romantic Restaurant
            #widget_contact_info-4.widget.widget_contact_info
              h3.widget-title Hours & Info
              .confit-address
                a(href='https://maps.google.com/maps?z=16&q=6410+via+real+carpinteria,+ca+93013', target='_blank')
                  | 6410 Via Real
                  br
                  | 							Carpinteria, CA 93013
              .confit-phone
                | 1-123-456-7890
              .confit-hours
                | Lunch: 11am - 2pm
                br
                |  Dinner: M-Th 5pm - 11pm, Fri-Sat:5pm - 1am
    // /#page
    script(src='/contrib/js/imagesloaded.min.js', type='text/javascript')
    script(src='/contrib/js/scripts-navigation.js')
    script(src='/contrib/js/scripts-global.js', type='text/javascript')
